@use '../sass/variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.Tasks {
    background-color: $dark-gray;
    text-align: center;
    color: $white;
    font-size: 40px;
    font-weight: 500;
    padding-top: 150px;
    padding-bottom: 100px;
    font-family: 'Poppins', sans-serif;
}